<div class="max-w-6xl mx-auto mt-5 w-full">
  <app-add-todo (todoAdd)="todoAdd($event)"></app-add-todo>
  <h1 class="my-5 text-2xl font-extrabold text-center w-full">
    Your Yodo List
  </h1>
  <div *ngIf="this.todos?.length === 0; else elseBlock">
    There is no todo Found
  </div>
  <ng-template #elseBlock>
    <div class="mt-10" *ngFor="let todo of todos">
      <app-todo-item
        [todo]="todo"
        (todoDelete)="todoDelete($event)"
      ></app-todo-item>
    </div>
  </ng-template>
</div>
